<%- include ('./partials/header.ejs') %>

<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <br>
        <hr>
        <h1>Questions!</h1>
        <hr>
        <a href='/ask' class="btn btn-primary">Ask questions!</a>
        <br>

        <% questions.forEach(questions => { %>
        <br>
        <div class="card">
            <div class="card-body">
                <h3><%= questions.title %></h3>
            </div>
            <div class="card-footer">
                <a href="/question/<%=questions.id%>"><button class="btn btn-primary">Answer!</button></a>
            </div>
        </div>
        <% }) %>

    </div>

</body>

<%- include ('./partials/footer.ejs') %>